<div class="container">
  <h1 class= "bold">this is your <span class="petrol-word">trip</span></h1>
  <h6>tap the stops for more details</h6>
  <div class= "mb-4 mt-3"><%= link_to "customize", itinerary_stops_path(@itinerary), class:"btn-turq-small" %></div>
</div>
</div>

  <div id="map-container">
    <div style="width: 100%; height: 700px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    </div>
