.cities-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
  align-items: center;
}

.cities-card-category {
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 340px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: black;
  overflow: hidden;

  img {
    width: 340px;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
}

.text-wrapper {
  display: flex;
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 46px;
  justify-content: center;
  align-items: center;


  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }
}




// <div>
//   <div class="container mt-5">
//     <p>or choose one of our featured cities</p>
//     <%= simple_form_for :city, url: choose_duration_path, method: :get, class: "d-flex" do |f| %>
//     <% if @cities.length > 1 %>
//       <%= f.input :city, collection: @cities %>
//     <% elsif @cities.length == 1%>
//       <%= f.input :city, collection: @cities, default: @cities.first %>
//     <% end %>
//     <%= f.button :button do %>
//       <% "OK" %>
//       <% end %>
//     <% end %>
//   </div>
// </div>
