.cities-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
  align-items: center;
}

.cities-card-category {
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 340px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: black;
  overflow: hidden;
  margin: 0 auto;

  h2 {
    position: absolute;
    top: 46px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }

  img {
    width: 340px;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
}



.cities-search-bar {
  width: 250px;
  height: 35px;
  padding-left: 10px;
  border: 0.5px $petrol solid;
  border-radius: 5px;
}

.cities-search-btn {
  padding: 4px 8px;
  margin-left: 10px;
  background-color: $light-turquoise;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  transition: background 0.3s ease;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font: $headers-font;
  input {
    text-decoration: none;
  }
  border: 0px;
}
