.show-container{
  .card-decide {
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    box-shadow: 0px -2px 20px rgba(128, 128, 128, 0.482);
    padding-top: 3px;
  }

  .show-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .swipe{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-description {
    margin-bottom: 75px !important;

    .description {
      display: flex;
      justify-content: space-between;

      h1{
        font-family: 'Lato';
        font-size: 30px;
        font-weight: bold;
      }
    }

    #description{
      font-family: 'Lato';
      color: #007691;
      font-size: 18px;
    }

    p {
      font-family: 'Lato';
    }

    .size {
    position:absolute;
    top:427px;
    right: 20px;
    width: 50px;
    height: 50px;
    }
  }
}

.petrol {
  color: $petrol;
}

.italic {
  font-style: italic;
}
