<div class="home-card-category" style="background-image: url('<%= image_path 'tripstr-background.png' %>')">
  <div class="tripstr-overview mt-2">
    <div class="container d-flex flex-column mt-2 p-3">
      <div class="tripstr-logo-wrapper">
        <%= image_tag "tripstr-text-petrol-dot.png", class:"tripstr-logo-text" %>
      </div>
      <div class="tripstr-homeimg-wrapper mt-5">
        <%= image_tag "tripstr_gif_new.gif", class: "tripstr-homeimg" %>
      </div>
    </div>
    <div class="subheading my-1" >
      <h2>plan your city trips<br>
      without a hassle</h2>
      <div class="description">
        <p class="app-light-text p-2">we show you the coolest places <br>
        and create the best route.<br>
        <span class="trip-tagline">you just enjoy your trip</span></p>
        <div class="btn mt-3">
        <%= link_to "start exploring", choose_city_path %>
      </div>
    </div>
    </div>
  </div>
</div>
