<div class='container'>
  <h1 class="mt-3 bold"><span class="petrol-word">where</span> are you going?</h1>
  <%# search bar %>
  <div class="mt-3">
    <%= form_with  url: choose_city_path, method: :get do |form| %>
      <%= form.text_field :city, placeholder: "type a city here", class:"app-italic app-light-text cities-search-bar" %>
      <%# style this! %>
    <% end %>
  </div>
</div>


<%# city cards %>
<div>
  <div class="container mt-3">
    <p >or choose one of our featured cities:</p>
  </div>
  <div class="cities-card-wrapper">
    <% @cities.each do |city| %>
      <div class="cities-card-category  mb-3">
        <%= link_to cl_image_tag(city.photo.key), choose_duration_path(city: city), class:'cities-card-category' %>
        <h2 class="city-name"> <%= city.name %> </h2>
      </div>
    <% end %>
  </div>
</div>
