<div class="container">
  <h2 class="mt-3 bold">how much <span class="petrol-word">time</span> do you have?</h2>
  <h6>choose an option</h6>
  <div>
  <%= link_to '<span class="headline">half day</span><span class="preline">3 sights</span>'.html_safe, choose_categories_path(duration: "Half day"), class: "card_duration_half mt-3"%>
  </div>
  <div>
  <%= link_to '<span class="headline">full day</span><span class="preline">6 sights</span>'.html_safe, choose_categories_path(duration: "Full day"), class: "card_duration_full mt-3"%>
  </div>
</div>
