<div class="container">
<h2 class="mt-3">How much <span class="petrol_word">time</span> do you have?</h2>
  <%= form_with url: choose_categories_path, method: :get, class: "d-flex" do |form| %>
  <%=
    form.select :duration, ["Half day", "One full day"]
  %>
  <%= submit_tag "Ok", class: "btn btn-primary" %>
  <% end %>
</div>

<% session[:city] %>
