.home-card-category {
  height: 900px;
  background-size: cover;

  .tripstr-logo-wrapper {
    display: flex;
    justify-content: center;
  }

  .tripstr-logo-text {
    height: 45px;
  }

  .tripstr-homeimg-wrapper {
    display: flex;
    justify-content: center;

  }


  .tripstr-homeimg {
    width: 250px;

  }

  .title {
    color: #007691;
    padding: 5px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }

  .subheading{
    font-size: 30px;
    margin: 0;
    line-height: 26pt;
    left: 5%;
    right: 4.72%;
    top: 52.92%;
    bottom: 39.03%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #007691;
  }

  .description{
    margin: 0;
    left: 5%;
    right: 4.72%;
    top: 52.92%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #007691;
  }

  .trip-tagline {
    color: $happy-red;
    font-weight: bolder;
  }

  .btn {
    width: 200px;
    height: 56px;
    left: 76px;
    top: 579px;
    background-color: $light-turquoise;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 0.7rem !important;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 18 px;
    margin-top: 2px;
  }

  //  note about hover across all the scss in this project:
  // setting several properties without any visual effect
  // to bypass bootstrap's several hover properties
  .btn:hover {
    background-color: $light-turquoise;
    border: 0px !important;
    transition: none !important;
  }

  header {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .row {
    display: flex;
    overflow: hidden;
  }
}
