.navbar-lewagon {
  // justify-content: space-between;
  align-items: end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  .search-img {
    width: 35px;
  }
}

.nav-back-btn {
  position: absolute;
  top: 16px;
}
