// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Style present on application.html.css
.app-background {
  height: 900px;
  background-size: cover;
  background-attachment: fixed;
}

.app-light-text {
  font-weight: 300;
}

.app-italic {
  font-style: italic;
}

.app-background-color {
  background-color: white !important;
}
